<div id="background">
  <header class="cf">
    <div class="wrapper_wide">
      <a href="#" id="logo">FKSPDAKWAH</a>
      <nav>
        <ul>
          <li><a href="#">Masuk</a></li>
          <li><a href="#">Mendaftar</a></li>
          <li><a href="#">Tentang aplikasi</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <div class="wrapper_skinny">
    <h1>Sampaikanlah walau satu ayat, berdakwah atau mendengarkan dakwah.</h1>
    <input type="text" placeholder="Cari dakwah berdasarkan kata kunci...">
  </div>
</div>

<div id="dakwah" class="cf">
  <div class="wrapper">
    <ul>
      <a href="#">
        <li>
          <img src="images/uwuwuw.jpg" alt="">
          <div class="dakwah_overview">
            <h2>Shelyna Zahra Dakwah</h2>
            <p class="episode_count">9 episode</p>
          </div>
        </li>
      </a>

      <a href="#">
        <li>
          <img src="images/diansastro.jpg" alt="">
          <div class="dakwah_overview">
            <h2>Shelyna Zahra Dakwah</h2>
            <p class="episode_count">9 episode</p>
          </div>
        </li>
      </a>

      <a href="#">
        <li>
          <img src="images/uwuwuw.jpg" alt="">
          <div class="dakwah_overview">
            <h2>Shelyna Zahra Dakwah</h2>
            <p class="episode_count">9 episode</p>
          </div>
        </li>
      </a>

      <a href="#">
        <li>
          <img src="images/diansastro.jpg" alt="">
          <div class="dakwah_overview">
            <h2>Shelyna Zahra Dakwah</h2>
            <p class="episode_count">9 episode</p>
          </div>
        </li>
      </a>

      <a href="#">
        <li>
          <img src="images/uwuwuw.jpg" alt="">
          <div class="dakwah_overview">
            <h2>Shelyna Zahra Dakwah</h2>
            <p class="episode_count">9 episode</p>
          </div>
        </li>
      </a>

      <a href="#">
        <li>
          <img src="images/diansastro.jpg" alt="">
          <div class="dakwah_overview">
            <h2>Shelyna Zahra Dakwah</h2>
            <p class="episode_count">9 episode</p>
          </div>
        </li>
      </a>

      <a href="#">
        <li>
          <img src="images/uwuwuw.jpg" alt="">
          <div class="dakwah_overview">
            <h2>Shelyna Zahra Dakwah</h2>
            <p class="episode_count">9 episode</p>
          </div>
        </li>
      </a>

      <a href="#">
        <li>
          <img src="images/diansastro.jpg" alt="">
          <div class="dakwah_overview">
            <h2>Shelyna Zahra Dakwah</h2>
            <p class="episode_count">9 episode</p>
          </div>
        </li>
      </a>
    </ul>
  </div>
</div>

<div id="info" class="cf">
  <div class="wrapper">
    <h1>Alhamdulillah sudah ada 99 member dan 990 episode dakwah terkumpul.</h1>
  </div>
</div>
<div id="footer" class="cf">
  <div class="wrapper">
    <h1>FKSPDAKWAH &copy; 2016</h1>
  </div>
</div>
