<div id="background">
  <header class="cf">
    <div class="wrapper_wide">
      <%= link_to "FKSPDAKWAH", root_path, id: "logo" %>
      <nav>
        <ul>
          <li><%= link_to "Masuk", new_member_session_path %></li>
          <li><%= link_to "Mendaftar", new_member_registration_path %></li>
          <li><%= link_to "Tentang Aplikasi", about_index_path %></li>
        </ul>
      </nav>
    </div>
  </header>
  <div class="wrapper_skinny">
    <iframe width="100%" height="480" src="https://www.youtube.com/embed/mdNSnl2uJ4I" frameborder="0" allowfullscreen></iframe>
  </div>
</div>
